@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    /* transition: all .3s linear; */
}

a,h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
:root{
    --text:#3D3D4B;
    --text-white:#ffffff;
    --color-pink: #FF1C96;
    --placeholder:#91A6B9;
    --text-yellow:#FCA550;
    --light-color:#666;
    --box-shadow1: 0px 0px 23px rgba(0, 0, 0, 0.11);
    --box-shadow2: 0px 0px 34px rgba(0, 0, 0, 0.12);
    --box-shadow3: 0px 4px 15px rgba(0, 0, 0, 0.15);

}

*::selection{
    background: var(--color-pink);
    color: white;
}

.container{
    max-width: 1290px;
}

html{
    font-size: 62.5%;
    scroll-padding-top:5.5rem;
    scroll-behavior: smooth;
}



/* Home Page */
.hero-section{
    background: url(../images/img_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left center;
    overflow: hidden;
    padding-bottom: 8.7rem;
    position: relative;
    z-index: 1;
    padding: 3.6rem 0;
    min-height: 75.4rem;
}

/* .hero-section::before{
    content: '';
    position: absolute;
    height: 11.5rem;
    width: 11.5rem;
    background-image: url(../images/dots.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: 0;
    left: 0;
    z-index: -1;
} */

/* .hero-section::after{
    content: '';
    position: absolute;
    height: 6.4rem;
    width: 6.4rem;
    background-image: url(../images/ring.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 7.4rem;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 0;
} */


.hero-section .content{
    display: grid;
    grid-template-columns: minmax(0, 83.2rem) minmax(0, 46.8rem);
    justify-content: space-between;
    gap: 3.4rem;
    position: relative;
    z-index: 1;
    margin-top: 4.8rem;
}


/* .hero-section .content::before{
    content: '';
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-image: url(../images/blue-circle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    top: 100%;
    left: 98%;
    z-index: -1;
} */



.hero-section .content .left-content .text h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.1rem;
    color: #FFFFFF;

    margin-bottom: 3.3rem;
}

.hero-section .content .left-content .text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #FFFFFF;
}


.hero-section .content .left-content .text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #FFFFFF;
}


.hero-section .content .left-content .social-icons{
    display: flex;
    align-items: center;
    gap: 3.9rem;
    flex-wrap: wrap;

    margin-top: 2.4rem;
    margin-bottom: 5rem;
}

.hero-section .content .left-content .social-icons img{
    height: 3.8rem;
    width: 3.8rem;

}

.hero-section .content .right-content .contact-form{
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 4rem 3rem;
    max-width: 46.8rem;
    position: relative;
    z-index: 1;
}

.hero-section .content .right-content .contact-form::before{
    content: '';
    position: absolute;
    height: 12.7rem;
    width: 12.7rem;
    background-image: url(../images/dots.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -10%;
    right:102% ;
    z-index: -1;
}

.hero-section .content .right-content .contact-form .form-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #3D3D4B;
    margin-top: 1.2rem;
}

.hero-section .content .right-content .form{
    margin-top: 2rem;
}

.hero-section .content .right-content .form label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #A3A3BC;
    display: block;
}

.hero-section .content .right-content .form input{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.4rem;
    color: #3D3D4B;
    padding: 1.2rem 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid #EDEDF2;
}


.hero-section .content .right-content .form .submit-btn{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    width: 100%;
    height: 4.8rem;
    background: #5663DA;
    border-radius: 8px;
    border: none;
    margin-top: 1.6rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-section .content .contact-form .sign-in-up{
    text-align: center;
    margin-top: 1.6rem;
}

.hero-section .content .contact-form .sign-in-up h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    color: #A3A3BC;
}

.hero-section .content .contact-form .sign-in-up a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #5663DA;
}

/* .hero-section .content .contact-form .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 */


.hero-section .content .app-btns{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.8rem;
}

.hero-section .content .app-btns a{
    display: inline-block;
    height: 5rem;
    width: 16.9rem;
    background: #FFFFFF;
    border-radius: 0.8rem;
    margin-top: 1.8rem;
    padding: 0.8rem 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



.hero-section .content .app-btns a img{
    height: 100%;
}

.hero-section .content .community-sign-google{
    height: 5rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* text-transform: uppercase; */
    color: #000000;
}

.hero-section .content .community-sign-google img{
    height: 3rem; 
    width: 3rem;
}

.like-section{
    padding-top: 7rem;
    padding-bottom: 8.6rem;
    overflow: hidden;
}


.like-section .image{
    max-width: 49.8rem;
    width: 100%;
    height: auto;
    margin-left: auto;
    padding-right: 2.6rem;
    position: relative;
    z-index: 1;
}

.like-section .image::before{
    content: '';
    position: absolute;
    right:-11%;
    bottom: -10%;
    height: 7.7rem;
    width: 7.7rem;
    background-image: url(../images/mimmmie-dots.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
}

.like-section .image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.like-section .main-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.6rem;
    color: #353535;
    max-width: 47rem;
}



.like-section .sec-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #3D3D4B;
    margin-top: 3rem;
}

.like-section .bottom-content{
    padding-top: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
}

.like-section .bottom-content .bottom-content-txt{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: #3D3D4B;

    margin-top: 1.7rem;
}

.like-section .bottom-content .buttons{
    display: flex;
    align-items: center;
    gap: 0.9rem;   
}
.like-section .bottom-content .buttons a{  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
}
.like-section .bottom-content .buttons a img{  
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.like-section .bottom-content .buttons .g-play{
    height: 4.6rem;
    width: 15.6rem;
    border: 1px solid#A6A6A6;
    padding: 0.6rem 1rem;
}

.like-section .bottom-content .buttons .apple-store{
    height: 4.6rem;
    width: 15.6rem;
    border: 1px solid#A6A6A6;
    padding: 0.6rem 1rem;
}

.Les-marques-section{
    min-height: 28.1rem;  
    margin-bottom: 4.2rem;
}

.Les-marques-section .content{
    background: #FFF3FF;
    border-radius: 11px;
    padding: 3.8rem 0;
    text-align: center;
    min-height: 28.1rem; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Les-marques-section .content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: center;
    color: #525252;

    margin-bottom: 2.9rem;
}

.Les-marques-section .content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: #353535;
    padding-bottom: 4.4rem;
    max-width: 96.3rem;
}


.Les-marques-section .content .ça-minteresse{
    display: inline-block;
    height: 4.7rem;
    width: 17.5rem;
    background: linear-gradient(90deg, #FF1C96 0%, #FCA650 100%);
    border-radius: 4px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

}



.Donne-ton-avis .content{

    padding: 6rem 2rem;

    background: linear-gradient(90deg, #FF1C96 0%, #FCA650 100%);
    border-radius: 11px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Donne-ton-avis .content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;

    margin-bottom: 4.3rem;
}

.Donne-ton-avis .content h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: #FFFFFF;
}

.Donne-ton-avis .content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
    text-align: center;
    color: #FFFFFF;

    max-width: 94rem;
}

.Donne-ton-avis .content .Cest-part{
    display: inline-block;
    height: 4.7rem;
    width: 22.7rem;
    border-radius: 4px;
    background: #FFFFFF;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: #FF1C96;

    display: flex;
    align-items: center;
    justify-content: center;


}


.comments-section{
    min-height: 50rem;
    background: #FF1C96;
    position: relative;
    z-index: 1;
    padding: 4.8rem 0;
    margin-top: 6.2rem;
    overflow: hidden;
}





.comments-section::after{
    content: '';
    position: absolute;
    height: 10rem;
    width: 9.7rem;
    background-image: url(../images/white-dots-circle.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    top: -5%;
    right: 10%;
    z-index: -1;
}

.comments-section label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3rem;
    color: #FFFFFF;
}

.comments-section .text-para{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;

    margin-top: 6rem;
}

.comments-section .cards{
    display: flex;
    gap: 2.3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7.8rem;
    padding-bottom: 9rem;
}

.comments-section .cards .card{
    height: 20rem;
    width: 30rem;
    border-radius: 10px;
    padding: 2rem 1.6rem;
    background: #FC39A1;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.comments-section .cards .card img{
    height: 4rem;
    width: 4rem;
}

.comments-section .cards .card p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;
}

.comments-section .botto-content{
    display: flex;
    gap: 7.2rem;
}

.comments-section .botto-content p{
    max-width: 83.8rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #FFFFFF;
}

.comments-section .botto-content .Rejoins-nous{
    display: inline-block;
    height: 4.7rem;
    width: 22.7rem;
    border-radius: 4px;
    background: #FFFFFF;

    padding: 1.7rem 2rem;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: #FF1C96;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

}

/* Waiting section */
.waiting-section{
    background-image: url(../images/img_jungle.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    padding: 13rem 0;
}


.waiting-section .content{
    max-width: 74rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.waiting-section .content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 5rem;
    line-height: 4rem;
    text-align: center;
    color: #FFFFFF;
}


.waiting-section .content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;

    margin-top: 3rem;
}

.waiting-section .content .btn{
    display: inline-block;
    height: 4.8rem;
    width: 39.5rem;
    border-radius: 0.8rem;
    padding: 1.6rem 2.4rem;
    border: 2px solid #FFFFFF;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3rem;

}


/* Contact Us Page */


.main-contact-page .contact-banner{
    background-image: url(../images/contact-banner.png);
    background-size: cover;
    background-position: center center;

    height: 27.3rem;

    display: flex;
    padding-top: 8rem;
    justify-content: center;
}

.main-contact-page .contact-banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: var(--color-pink);
}

.main-contact-page .contact-form{
    background: #FFFFFF;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    min-height: 550px;
    max-width: 850px;
    border-radius: 16px;
    margin: 0 auto;
    transform: translateY(-14%);

    padding: 4.6rem 3.9rem;
    text-align: center;
}

.main-contact-page .contact-form > label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.4rem;
    color: #353535;
    display: block;
    text-align: center;
}

.main-contact-page .contact-form .fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.7rem;
    margin-top: 3.7rem;
}

.main-contact-page .contact-form input{
    height: 4.5rem;
    width: 100%;


    border: 1px solid #BBBBBB;
    border-radius: 5px;
    padding: 1.7rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--text);

    margin: 0.85rem 0;
}

.main-contact-page .contact-form input::placeholder,
.main-contact-page .contact-form textarea::placeholder
{
    color: var(--placeholder);
}

.main-contact-page .contact-form textarea{
    min-height: 14.6rem;
    resize: none;
    width: 100%;
    border: 1px solid #BBBBBB;
    border-radius: 5px;

    margin: 0.85rem 0;
    padding: 1.7rem;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--text);
}

.main-contact-page .contact-form #submit-btn{
    height: 4.7rem;
    width: 16.1rem;
    border-radius: 5px;
    background: linear-gradient(90deg, #FF1C96 0%, #FCA650 100%);

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2rem;
    color: var(--text-white);
    border: none;
    margin-top: 3.7rem;
}



/* Footer  Starts*/
.footer{
    background: #020204;
    padding-top:5.6rem;
}


.footer .content,
.footer .logo,
.footer .copywrite{
    max-width: 112rem;
    margin: 0 auto;
}


.footer .content{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding-top: 2.4rem;
    flex-wrap: wrap;
}

.footer .content .logo-section{
        max-width: 26.6rem;
}

.footer .content .logo-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.footer .content .logo-section .mail{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.4rem;
    text-decoration-line: underline;
    color: #5663DA;
}

.footer .content .logo-section .icons{
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.footer .content .links{
    max-width: 22.4rem;
    display: flex;
    flex-direction: column;
}

.footer .content .links label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.2rem;
    color: #FFFFFF;
    padding-bottom: 1.4rem;
}

.footer .content .links a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.footer .copywrite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    border-top: 1px solid rgba(163, 163, 188, 1);

    margin-top: 7.4rem;
}

.footer .copywrite h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #FFFFFF;
}

.footer .copywrite .footer-menues{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer .copywrite .footer-menues a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: #FFFFFF;
}

/* Footer  Ends*/















/*Media Queries*/
@media (max-width: 991px){
       
        html{
            font-size: 55%;
        }

        .hero-section .content{
            grid-template-columns:1fr;
            margin-top: 1.8rem;
        }

        .hero-section .content .right-content .contact-form {
            margin: 0 auto;
        }

        .hero-section::after {
            top: 4.4rem;
            right: 0px;
            left: 93%;
            transform: unset;
        }

        .like-section .main-title {
            margin-top: 2rem;
        }

        .like-section .image {
            max-width: 52rem;
            max-height: 58rem;
            margin: 0 auto;
            padding: 0;
        }

        /* .like-section .bottom-content {
            max-width: 64rem;
            margin: 0 auto;
        } */

        .you-only-like .content::before {
            height: 6.6rem;
            left: -6.7rem;
            top: -0.9rem;
            top: -0.9rem;
        }


        .you-only-like .content::after {
            height: 9rem;
            width: 9rem;
            left: 93%;
            bottom: 0;
        }

        .you-only-like .content h1::before {
            height: 7.3rem;
            width: 7.6rem;
            left: 95%;
            top: 15rem;
        }
}




@media (max-width: 820px){
    .footer .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .footer .footer-content .right {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
    }
    
}









@media (max-width: 768px){
    
    .like-section .text-col::before {
        right: 0px;
        top: -1rem;
        height: 10rem;
        width: 5rem;
        background-size: cover;
        background-position: left;
    }

    .overlay .content {
        padding: 3rem 0;
        grid-template-columns: 1fr;   
        height: auto;
    }

    .overlay .content .left-div{
        margin-top: 2.2rem;
    }

    .overlay .content .left-div,
    .overlay .content .right-div {
        position: relative;
        width: 45rem;
    }

    .overlay .content .right-div{
        margin-left: auto;
        transform: translateY(-12%);
        height: 30rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .overlay .content .right-div p {
        padding: 0;
    }

    .overlay .content .right-div::before {       
        top: 92%;
        right: 10%;
        height: 8.8rem;
        width: 8.8rem;
        
    }

    .overlay .content .left-div::before {
        bottom: 89%;
        z-index: 1;
        height: 9.2rem;
        width: 6.6rem;
    }

    .overlay .content .left-div::after {
        bottom: -2%;
        left: 40%;
        height: 7.6rem;
        width: 7.6rem;
    }

    .comments-section::before {
        height: 9.2rem;
        width: 6.1rem;
        top: -6rem;
    }

    .comments-section label {
        font-size: 4.6rem;
        line-height: 5.6rem;
        text-align: center;
        width: 100%;
    }


    .waiting-section {
        padding: 7rem 0;
    }

    .waiting-section .content h1 {
        font-size: 3.6rem;
    }

    .comments-section .botto-content{
        flex-wrap: wrap;
    }
   
}


@media (max-width: 460px){
    

    .footer .footer-content {
        grid-template-columns: 1fr;
    }

    .footer .footer-content .middle, .footer .footer-content .right {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
    }

    .hero-section .content .left-content {
        padding-top: 3.8rem;
    }

    .like-section .image {
        width: 100%;
        height: auto;
    }

    .you-only-like .content .btn {
        width: 25.5rem;
    }

    .you-only-like .content h1 {
        font-size: 4.2rem;
        line-height: 5.5rem;
    }

    .you-only-like .content h2 {
        font-size: 2rem;
        line-height: 2.6rem;
    }

    .hero-section .content .left-content .social-icons {
        gap: 1.9rem;
        margin-bottom: 2rem;
    }

    .hero-section .content .app-btns {
        gap: 1rem;
        justify-content: center;
    }

    .hero-section .content .left-content .text h1 {
        font-weight: 500;
        font-size: 3rem;
        line-height: 3.6rem;
    }

}

@media (max-width: 420px){
    .overlay .content .right-div,
    .overlay .content .left-div {
        width: 100%;
        padding: 2rem;
    }

    .overlay .content .left-div h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .hero-section .content .left-content .text p, 
    .hero-section .content .left-content .text h2 {
        font-weight: 600;
    }

    .like-section .bottom-content {
        justify-content: center;
    }

    .overlay .content .left-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .overlay .content .right-div::before {

        height: 6.8rem;
        width: 6.8rem;
    }

    .main-contact-page .contact-form{
        padding: 3.6rem 1.9rem;
    }

    .main-contact-page .contact-form .fields{
        
        grid-template-columns:1fr;
        gap: 0rem;
        margin-top: 3.7rem;
    }

    
}



    @media (max-width: 360px){
        .footer .copyright .links {
            gap: 1rem;
        }

        .hero-section .content .right-content .app-btns {
            gap: 0.8rem;
        }

        .waiting-section .content .btn {
            width: 28rem;
        }

        .hero-section .content .right-content .contact-form .form-heading {
            font-size: 2rem;
        }

    }
