@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

a {
    text-decoration: none;
}

:root {
    --text: #3d3d4b;
    --text-white: #ffffff;
    --color-pink: #ff1c96;
    --placeholder: #91a6b9;
    --text-yellow: #fca550;
    --light-color: #666;
    --box-shadow1: 0px 0px 23px rgba(0, 0, 0, 0.11);
    --box-shadow2: 0px 0px 34px rgba(0, 0, 0, 0.12);
    --box-shadow3: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.container {
    max-width: 1290px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.community-head {
    background-image: url("./images/hero-image.png");
    background-repeat: no-repeat;
    position: relative;
    padding-top: 8.5rem;
    padding-bottom: 10rem;
    background-size: cover;
}

.community-head .wrapper>img {
    margin-bottom: 1.4rem;
}

.community-head .wrapper>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.1rem;
}

.community-head .wrapper>.icons {
    display: flex;
    gap: 3rem;
    padding-block: 5.1rem;
}

.community-head .wrapper>.hero-buttons {
    display: flex;
    /* gap: 2.1rem; */
}

.community-head .form-side {
    background-color: white;
    padding: 3.4rem 2.7rem 4.8rem 2.7rem;
    border-radius: 1rem;
    text-align: center;
    width: min(52rem, 95%);
}

.community-head .form-side>img {
    margin-bottom: 1.3rem;
}

.community-head .form-side>h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 2.6rem;
    /* or 116% */
    /* #3D3D4B */
    color: #3d3d4b;
    padding-bottom: 4.4rem;
}

.community-head .form-side>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    /* identical to box height, or 114% */
    /* #A3A3BC */
    color: #a3a3bc;
}

.community-head .form-side>input {
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.4rem;
    /* identical to box height, or 88% */
    /* #3D3D4B */
    color: #3d3d4b;
    box-shadow: none;
    padding: 0px;
}

.community-head .form-side>button {
    margin-top: 3.6rem;
    margin-bottom: 4.2rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    /* identical to box height */
    text-transform: uppercase;
    border-radius: 0.69rem;
    /* #FFFFFF */
    color: #ffffff;
    padding-block: 1.2rem;
    background-color: rgba(86, 99, 218, 1);
}

.community-head .form-side>span {
    padding-bottom: 3.1rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 0.7rem;
    text-align: center;
    color: #a3a3bc;
}

.community-head .form-side>span a {
    color: rgba(86, 99, 218, 1);
    font-weight: 500;
}

.community-head .form-side>span:nth-of-type(2) {
    margin-top: 3.1rem;
}

.community-head .form-side>.form-icons {
    display: flex;
    gap: 4.4rem;
    justify-content: center;
}


/* .community-head .form-side>.form-icons img {
    width: 25px;
    height: 25px;
} */

.community-head .form-col>.dots {
    bottom: -8rem;
    left: 5rem;
}

.comment-section .dots {
    bottom: -2rem;
    position: absolute;
    right: -6rem;
    z-index: -1;
}

.comment-section .text-side h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.6rem;
    padding-bottom: 4.4rem;
    max-width: 45rem;
}

.comment-section .text-side p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3rem;
    gap: 1.7rem;
    max-width: 44rem;
}

@media (max-width: 991px) {
    .comment-section .text-side p {
        max-width: 90% !important;
    }
}

.comment-section .text-side h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5rem;
    padding-top: 4.4rem;
    padding-bottom: 2.9rem;
}

.comment-section .text-side a {
    border: 1px solid rgba(166, 166, 166, 1);
    border-radius: 0.5rem;
    display: inline-block;
}

.large-dots {
    top: 60%;
    right: 0px;
    transform: translateY(-50%);
}

.untill-wrapper {
    background-color: rgba(255, 243, 255, 1);
    border-radius: 1.1rem;
    margin-bottom: 2rem;
}

.untill-now {
    padding-block: 3.8rem;
    padding-inline: 18rem;
}

.untill-now>p {
    padding-top: 2.9rem;
    padding-bottom: 4.4rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    /* or 150% */
    text-align: center;
}

.untill-now>h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.8rem;
    text-align: center;
}

.untill-now>a,
.waiting>button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 82.5%;
    /* or 13px */
    text-transform: uppercase;
    padding: 1.7rem 1.4rem;
    border: none;
    border-radius: 0.4rem;
    background-image: linear-gradient( to right, rgba(255, 28, 150, 1), rgba(252, 166, 80, 1));
    min-height: 4.7rem;
    /* width: 17.5rem; */
    color: white;
}

.like-section {
    background-image: linear-gradient( to right, rgba(255, 28, 150, 1), rgba(252, 166, 80, 1));
    border-radius: 1.1rem;
    padding-block: 6.2rem;
    padding-inline: 14.5rem;
    margin-bottom: 8rem;
}

.like-section>h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3rem;
}

.like-section>h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 3.7rem;
    padding-bottom: 3.1rem;
}

.like-section>p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 3.2rem;
}

.like-section>button {
    background: #ffffff;
    border-radius: 0.4rem;
    color: rgba(255, 28, 150, 1);
    padding: 1.7rem 4rem;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 82.5%;
    /* or 13px */
    text-transform: uppercase;
    margin-top: 3.7rem;
    margin-bottom: 2.9rem;
}

.how-it-works {
    background-image: url(./images/half-dots.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(251, 249, 249, 1);
}

.how-it-works>.container>h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3rem;
    padding-top: 7.9rem;
    padding-bottom: 5.9rem;
}

.how-it-works>.container>.item-container {
    padding-bottom: 8.4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.how-it-works>.container>.item-container>.item {
    background-color: rgba(255, 28, 150, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    width: 30rem;
    height: 14.2rem;
    color: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    border-radius: 0.7rem;
}

.waiting {
    background-image: url("./images/waiting.png");
    background-position: center;
    background-size: contain;
    padding-block: 12.7rem;
}

.waiting h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    /* #FFFFFF */
    color: #ffffff;
    padding-bottom: 4.6rem;
}

.footer {
    background-color: rgba(54, 54, 54, 1);
    padding-top: 4.5rem;
}

.footer p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.footer h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.3rem;
    padding-bottom: 4.2rem;
}

.footer .icons-container .icons {
    max-width: 80%;
}

.footer .contact a {
    color: #fca550;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1rem;
    /* or 58% */
    text-decoration-line: underline;
}

.footer .last p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}


/* *********************** contact page css***************** */

.contact-banner {
    background-image: url(./images/contact-bg.png);
    background-size: cover;
    background-position: center center;
    height: 52.3rem;
    position: relative;
}

.contact-banner img {
    margin-top: 3.8rem;
}

.contact-banner h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: var(--color-pink);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form {
    background: #ffffff;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
    min-height: 550px;
    max-width: 850px;
    border-radius: 16px;
    margin: 0 auto;
    transform: translateY(-14%);
    padding: 4.6rem 3.9rem;
    text-align: center;
}

.contact-form>label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.4rem;
    color: #353535;
    display: block;
    text-align: center;
}

.contact-form .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.7rem;
    margin-top: 3.7rem;
}

.contact-form input {
    height: 4.5rem;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 1.7rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--text);
    margin: 0.85rem 0;
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder);
}

.contact-form textarea {
    min-height: 14.6rem;
    resize: none;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin: 0.85rem 0;
    padding: 1.7rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1rem;
    color: var(--text);
}

.contact-form #submit-btn {
    height: 4.7rem;
    width: 16.1rem;
    border-radius: 5px;
    background: linear-gradient(90deg, #ff1c96 0%, #fca650 100%);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.2rem;
    color: var(--text-white);
    border: none;
    margin-top: 3.7rem;
}

.footer .offset-lg-1>p {
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .footer .offset-lg-1>p {
        margin-bottom: 2.3rem;
    }
}

.footer .footer-content {
    display: grid;
    grid-template-columns: 338px 290px 230px;
    justify-content: space-between;
}

.footer .footer-content .left-side p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-white);
    margin-top: 2.4rem;
}

.footer .footer-content .footer-label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.3rem;
    color: var(--text-white);
    margin-bottom: 3.7rem;
}

.footer .footer-content .middle .icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.7rem;
}

.footer .footer-content .right {
    display: flex;
    flex-direction: column;
}

.footer .footer-content .right a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1rem;
    text-decoration-line: underline;
    color: var(--text-yellow);
}

.footer .copyright {
    min-height: 6rem;
    border-top: 1px solid #a3a3bc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 9.7rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.footer .copyright p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.footer .copyright .reserve-right {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--text-white);
}

.footer .copyright .links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.footer .copyright .links a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color: var(--text-white);
}

.footer-rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.store-buttons a,
.hero-buttons a {
    border-radius: 5px;
    background-color: white;
    width: 17.1rem;
}

@media (max-width: 991px) {
    .comment-section .text-side h3 {
        padding-bottom: 17px;
        max-width: 100%;
    }
    html {
        font-size: 55%;
    }
}


/* @media (min-width: 991px) {
    .comment-section .text-side .text {
        /* padding-right: 10rem; */


/* }

} */

@media (max-width: 820px) {
    .footer .footer-content {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .footer .footer-content .right {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .like-section,
    .untill-now {
        padding-inline: 1.8rem;
    }
    .how-it-works {
        background-image: none !important;
    }
    .contact-banner {
        height: 29rem !important;
    }
    .community-head {
        background-image: url("./images/hero-image-small.png");
        background-size: cover;
        background-size: 100% 100%;
        padding-top: 2.7rem;
    }
}

@media (max-width: 325px) {
    .store-buttons {
        display: flex;
        justify-content: space-between !important;
        gap: 1rem;
    }
    .comment-section .text-side a:nth-of-type(1) {
        margin-bottom: 1rem !important;
    }
}

@media (min-width: 325px) {
    .store-buttons {
        display: flex;
        justify-content: start !important;
        gap: 1rem !important;
    }
}

@media (max-width: 460px) {
    .contact-form {
        padding: 3.6rem 1.9rem;
    }
    .contact-form .fields {
        grid-template-columns: 1fr;
        gap: 0rem;
        margin-top: 3.7rem;
    }
    .footer .footer-content {
        grid-template-columns: 1fr;
    }
    .footer .footer-content .middle,
    .footer .footer-content .right {
        margin-top: 1.2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .how-it-works>.container>.item-container {
        padding-bottom: 4.4rem;
    }
}

@media (max-width: 392px) {
    .community-head .wrapper>img {
        width: 110.6px;
        height: 24.4px;
        margin-bottom: 31px;
    }
    .store-buttons a,
    .hero-buttons a {
        width: 150.28px;
        height: 43.83px;
    }
    .store-buttons a img,
    .hero-buttons a img {
        width: 138.51px;
        height: 41.15px;
    }
    .community-head .wrapper>p {
        font-size: 14.6106px;
        line-height: 20px;
    }
    .community-head .wrapper>.icons {
        display: flex;
        gap: 2.4rem !important;
        padding-top: 2.6rem !important;
        padding-bottom: 3.2rem !important;
    }
    .community-head .wrapper>.icons img {
        width: 31px !important;
        height: 31px !important;
    }
    .community-head {
        padding-bottom: 4.1rem !important;
    }
    .comment-section .img-container {
        height: 487px !important;
    }
    .comment-section .img-container>img:nth-of-type(1) {
        object-fit: cover !important;
    }
    .comment-section .text-side h3 {
        font-size: 22.9595px !important;
        line-height: 36px !important;
        padding-top: 2.8rem !important;
    }
    .comment-section .text-side p {
        font-size: 14.6106px;
        line-height: 24px;
    }
    .untill-now>h2 {
        font-size: 1.8rem !important;
        line-height: 3.8rem !important;
    }
    .untill-now>p {
        font-size: 16px !important;
        line-height: 26px !important;
        padding-block: 3.3rem !important;
    }
    .like-section {
        padding-top: 40px !important;
        padding-bottom: 52px !important;
        margin-bottom: 50px !important;
    }
    .like-section>h4 {
        font-size: 16px !important;
        line-height: 20px !important;
        padding-top: 22px !important;
    }
    .like-section>h2 {
        font-size: 22px !important;
        line-height: 30px !important;
    }
    .like-section>p {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .how-it-works>.container>.item-container>.item {
        width: 100% !important;
        padding-top: 23px;
        padding-inline: 60px;
        padding-bottom: 41px;
        height: unset;
    }
    .how-it-works>.container>h2 {
        font-size: 22px !important;
        line-height: 30px !important;
        padding-block: 40px !important;
    }
    .waiting {
        padding-block: 90px;
    }
    .waiting h1 {
        padding-bottom: 29px !important;
        font-size: 24px !important;
        line-height: 40px !important;
    }
    .footer .icons-container .icons {
        max-width: 60% !important;
    }
    .footer h5:nth-of-type(1) {
        padding-bottom: 18px !important;
    }
    .last p {
        font-size: 12px !important;
        line-height: 22px !important;
    }
    .last>p {
        padding-bottom: 12px;
    }
    .last {
        display: unset !important;
    }
}

@media (max-width: 360px) {
    .footer .copyright .links {
        gap: 1rem;
    }
}